@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 183 38% 3%;
    --foreground: 183 33% 100%;
    --muted: 303 5% 9%;
    --muted-foreground: 303 6% 67%;
    --popover: 183 38% 3%;
    --popover-foreground: 183 33% 100%;
    --card: 183 38% 3%;
    --card-foreground: 183 33% 100%;
    --border: 183 2% 15%;
    --input: 183 2% 15%;
    --primary: 183 93% 42%;
    --primary-foreground: 183 93% 2%;
    --secondary: 303 93% 42%;
    --secondary-foreground: 0 0% 100%;
    --accent: 63 93% 42%;
    --accent-foreground: 63 93% 2%;
    --destructive: 12 89% 59%;
    --destructive-foreground: 0 0% 0%;
    --ring: 183 93% 42%;
    --chart-1: 183 93% 42%;
    --chart-2: 303 93% 42%;
    --chart-3: 63 93% 42%;
    --chart-4: 303 93% 45%;
    --chart-5: 183 96% 42%;
}
  .dark {
    --background: 183 38% 3%;
    --foreground: 183 33% 100%;
    --muted: 303 5% 9%;
    --muted-foreground: 303 6% 67%;
    --popover: 183 38% 3%;
    --popover-foreground: 183 33% 100%;
    --card: 183 38% 3%;
    --card-foreground: 183 33% 100%;
    --border: 183 2% 15%;
    --input: 183 2% 15%;
    --primary: 183 93% 42%;
    --primary-foreground: 183 93% 2%;
    --secondary: 303 93% 42%;
    --secondary-foreground: 0 0% 100%;
    --accent: 63 93% 42%;
    --accent-foreground: 63 93% 2%;
    --destructive: 12 89% 59%;
    --destructive-foreground: 0 0% 0%;
    --ring: 183 93% 42%;
    --chart-1: 183 93% 42%;
    --chart-2: 303 93% 42%;
    --chart-3: 63 93% 42%;
    --chart-4: 303 93% 45%;
    --chart-5: 183 96% 42%;
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
